<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
</head>
<body>
	<h1>Welcome to the image management application</h1>
	<div>
		<p>Complete the form to log in</p>
		<form action="CheckLogin" method="POST">
			<fieldset>
				<br> Email: <input type="text" name="email" required> <br>
				<br> Password: <input type="password" name="password" required><br>
				<br> <input type="submit" value="Sign in">
				<p th:text=" ${loginMsg}"></p>
			</fieldset>
		</form>
	</div>

	<div>
		<p>Complete the form to register</p>
		<form action="CheckRegistration" method="POST">
			<fieldset>
				<br> Name: <input type="text" name="name" required> <br>
				<br> Surname: <input type="text" name="surname" required>
				<br>
				<br> Email: <input type="text" name="email" required> <br>
				<br> Password: <input type="password" name="password" required><br>
				<br> RipPassword: <input type="password" name="ripPassword"
					required><br>
				<br> <input type="submit" value="Sign up">
				<p th:text=" ${registrationMsg}"></p>
			</fieldset>
		</form>
	</div>
</body>
</html>