<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Album</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Album Page</h1>
	<a th:href="@{/GoToHome}">Back to home</a>
	<div>
		<p th:text=" ${'Title: ' + album.title}"></p>
		<p th:text=" ${'Creator: ' + album.creator}"></p>
		<p th:text="${'Creation date: ' + album.creationDate}"></p>
	</div>
	<div th:if="${images.size() >0}">
		<table>
			<thead>
				<tr>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${images[0].title}"></td>
					<td th:text="${images[1].title}"></td>
					<td th:text="${images[2].title}"></td>
					<td th:text="${images[3].title}"></td>
					<td th:text="${images[4].title}"></td>
				</tr>
			</tbody>
		</table>
	</div>  
	<div th:if="${images.size() == 0}"> This album is empty.</div>

</body>
